body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(19, 30, 58);
    padding: 30px;
    box-sizing: border-box;
    color: white;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;
}

nav > h2 {
    margin: 0; 
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px; 
    margin: 0;
    padding: 0;
    color: white;
}

nav > ul > li{
    list-style-type: none;
}

nav > ul>li>a {
    color: white;
    text-decoration: none;
}


.info-banner img {
    width: 100%;
    height: auto;

}

.container {
    margin-left: 20px;
}


nav > ul>li>a {
    color: white;
    text-decoration: none;
}
.featured{
    display: flex;
}
.featured-title{
    font-size: xx-large;
    margin-left: 20px;
}

.featured-text{
    font-size: x-large;
    margin-left: 20px;
}

.lenta {
    font-size: xx-large;
}
.section-title{
    font-size: xx-large;
}

.lenta-choice>a {
    text-decoration: none;    
    color: black;             
    background-color: rgba(0, 0, 0, 0.485); 
    padding: 5px 10px;      
    border-radius: 4px;     
    display: inline-block;      
}

.card-list{
    margin-top: 10px;
    margin-bottom: 20px;
}

.card{
    display: flex;
}


.card-title{
    margin-left: 20px;
    font-size: xx-large;
}

.card-text{
    margin-left: 20px;
    font-size: large;
    color: rgba(0, 0, 0, 0.485);
}

footer{
    width: 100%;
    height: auto;
    background-color: rgb(19, 30, 58);
    padding: 30px;
    box-sizing: border-box;
    color: white;

}

footer> nav > h2{
    text-align: center;
}

footer> nav {
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    gap: 15px;           
}

footer>nav > ul {
    justify-content: center; 
    padding: 0;
}

/* статья */

.lenta-article{
    margin-left: 20px;
}

h3{
    font-size: 64px;
    margin-left: 40px;
    margin-bottom: 0px; 
}

p{ 
    font-size: 36px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
}


.date {
    color: rgba(0, 0, 0, 0.505);
    font-size: 24px;
    margin-top: 5px;
    margin-left: 40px;
}

.photo-article{
    display: flex;
    justify-content: center;
    padding: 0 40px;
}


.photo-article>img {
  width: 100%;
  height: auto;
}


.text {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.6;
    text-align: justify;
    
}

/* комменты */

.comment-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

.title-comment {
    font-size: 36px;
    margin-left: 20px;
    padding: 15px 20px;
    text-align: left;
    font-weight: bold;

}

.author {
    font-size: 36px;
    margin-left: 20px;
    padding: 15px 20px;
    text-align: left;
    font-weight: bold;
}

.name-comment{
    text-align: left;
    font-size: 36px;
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 20px;
    padding: 15px;

}


