body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*шапка*/
header {
    width: 100%;
    height: auto;
    background-color: rgb(19, 30, 58);
    padding: 30px;
    box-sizing: border-box;
    color: white;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;
}
h2{
    font-size: 36px;
}

nav > h2 {
    margin: 0; 
}

nav > ul {
    display: flex;
    gap: 50px; 
    margin: 0;
    padding: 0;
    color: white;
}

nav > ul > li{
    list-style-type: none;
}

nav > ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/*баннер с кнопкоф*/
.info-banner {
    position: relative;
    display: inline-block; 
    width: 100%;
}

.info-banner > img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-btn {
    position: absolute; 
    top: 700px;
    left: 440px;
    color: white;
    background-color: red;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    white-space: nowrap;
}


/*контент на стр*/
.container {
    margin-left: 29px;
    margin-right: 28px;
}

.section-title{
    margin-top: 44px;
    font-size: 40px;
}


nav > ul>li>a {
    color: white;
    text-decoration: none;
}
/*главная новость*/ 
.featured{
    display: flex;
}
.featured-title{
    font-size: 48px;
    margin-left: 20px;
}

.featured-text{
    font-size: 24px;
    margin-left: 20px;
}

.lenta {
    font-size: 40px;
}
.section-title{
    font-size: 36px;
}

.lenta-choice>a {
    text-decoration: none;    
    color: black;             
    background-color: rgba(0, 0, 0, 0.485); 
    padding: 5px 10px;      
    border-radius: 4px;     
    display: inline-block;  
    margin-bottom: 35px;   
}

/*лента новостей*/
.card-list{
    margin-top: 10px;
    margin-bottom: 63px;
}

.card{
    display: flex;
    margin-bottom: 15px;
}


.card-title{
    margin-top: auto;
    margin-left: 20px;
    font-size: 36px;
}

.card-text{
    margin-left: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.485);
}
/*подвал*/
footer{
    width: 100%;
    height: auto;
    background-color: rgb(19, 30, 58);
    padding: 30px;
    box-sizing: border-box;
    color: white;

}

footer> nav > h2{
    text-align: center;
}

footer> nav {
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    gap: 15px;           
}

footer>nav > ul {
    justify-content: center; 
    padding: 0;
}

/* статья */

.lenta-article{
    margin-left: 20px;
}

h3{
    font-size: 64px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px; 
}

p{ 
    font-size: 36px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 14px;
}


.date {
    color: rgba(0, 0, 0, 0.505);
    font-size: 24px;
    margin-top: 5px;
    margin-left: 40px;
}

.photo-article{
    display: flex;
    justify-content: center;
    padding: 0 40px;
}


.photo-article>img {
  width: 100%;
  height: auto;
}


.text {
    display: block; 
    margin-left: 58px;
    margin-right: 57px;
    margin-top: 47px;
    margin-bottom: 47px;
    
    font-size: 36px;
    line-height: 1.6;
    text-align: justify;
}

/* комменты */

.comment-container {
    display: block;
    margin-left: 58px;
    margin-right: 57px;
    width: auto;
    height: auto;
    border-radius: 20px;
}


.title-comment {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-left: 0; 
    padding: 15px 0;
}

.author {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-left: 0; 
    padding: 15px 0;
}


.name-comment{

    text-align: left;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 74px;
    margin-left: 0;
    margin-right: 0;
}

.add-comment-label{
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;

    
}

.add-comment{

    margin-top: 111px;
    text-align: left;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 41px;
    margin-left: 0;
    margin-right: 0;
    display: flex;   
    flex-direction: column;

}

.input-comment{
    width: 100%;
    height: 150px; 
    padding: 10px; 
    box-sizing: border-box; 
    resize: vertical; 
    font-size: 36px;
    color: rgba(0, 0, 0, 0.43);
    border-radius: 20px;

}

.send-button {
    color: white;
    background-color: rgb(19, 30, 58);
    font-size: 36px;
    margin-top: 28px;
    align-self: flex-end;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;  
    cursor: pointer;
    
}

/* страница входа*/

.banner-btn2 {
    position: absolute; 
    top: 250px;
    left: 55px;
    color: white;
    background-color: red;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    white-space: nowrap;
}

.content-news{
    display: flex;
}

.prem{
    width: 590px;
    height: 673px;
    background-color: rgba(0, 0, 0, 0.375);
    border-radius: 20px;
    padding: 10px;
    margin-top: 120px;
    margin-bottom: 236px;
    margin-right: 43px;
}

.prem > h2{
    font-size: 36px;
    display: flex;
    justify-content: center;

}
ul>li{
    font-size: 32px;
    line-height: 2;
}
.btn-3{
    background-color:rgb(19, 30, 58);
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: 45px;
    margin-right: 45px;
}

/*блок войти*/
.content-news{
    display: flex;
    justify-content: center;
    gap: 353px; 
}
.login-block{
    margin-top: 166px;
    margin-bottom: 348px;
    margin-left: 10px;
}

.input-field{
    margin-top: 36px;
    margin-bottom: 37px;
    border-radius: 20px;
    font-size: 36px;
    padding: 15px 35px;
    width: 595px;
    height: auto;

}
.btn-login{
    width: 670px;
    height: auto;
    background-color: rgb(19, 30, 58);
    color: white;
    font-size: 36px;
    border-radius: 20px;
    padding: 15px 35px;
    cursor: pointer;
}

.login-title{
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.vxod{
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    transition: 0.3s;  
}
.reg{
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    transition: 0.3s;  
}